[submodule "voting-ui"]
	path = voting-ui
	url = https://github.com/techconsultingsolutions/voting-ui.git
[submodule "voting-cache-db"]
	path = voting-cache-db
	url = https://github.com/techconsultingsolutions/voting-cache-db.git
[submodule "voting-sync-msg-svc"]
	path = voting-sync-msg-svc
	url = https://github.com/techconsultingsolutions/voting-sync-msg-svc.git
[submodule "voting-api"]
	path = voting-api
	url = https://github.com/techconsultingsolutions/voting-api.git
[submodule "voting-dashboard"]
	path = voting-dashboard
	url = https://github.com/techconsultingsolutions/voting-dashboard.git
